<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
      {% block css %}
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <script src="{{url_for('static', filename='js/mobile.js')}}" defer></script>
    <div class="flashed">
      {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash-{{cat}}">{{msg}}</div>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
