{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" style="height: 100vh;">
  <head>
    {% block head %}
      {{super()}}
    {% endblock %}
  </head>
  <body style="height: 100%;">
    {% block body %}
    <div class="container" style="height:100%;">
      <nav><span></span><a href="/" class="blank">ТВОЙ РИТМ</a></nav>
      <div class="form-wrapper" style="height: 100%;">
        <div class="form">
          <span>Вход</span>
          {{super()}}
          <form action="" method="post" class="login">
            {{form.hidden_tag()}}
            {{form.email.label()}}{{form.email()}}
            {{form.pwd.label()}}{{form.pwd()}}
            <!--<div class="checkbox-wrapper">{{form.remember.label()}}{{form.remember()}}</div><br>-->
            <div class="button-wrapper">{{form.submit()}}</div> 
          </form>
          <div class="link-wrapper"><a class="anim" href="/register" style="text-align: right;">Регистрация</a></div>
        </div>
      </div>
    
    </div>
    {% endblock %}
  </body>
</html>
