{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {{super()}}
      <script src="{{url_for('static', filename='js/chart.js')}}"></script>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {{super()}}
    <div class="addTask" id="panel" style="display: none;">
      <div class="formArea">
      <p>Добавить задачу</p>
        <div class="tabs">
          <button onclick="openTab(event, 'manual')" id="manual">Вручную</button>
          <div class="sep"></div>
          <button onclick="openTab(event, 'aiAssist')" id="aiAssist">AI-помощник (beta)</button>
        </div>
        <div class="tabContents">
          <div class="tabcontent" id="manual-panel">
            <form action="/" method="post" class="addTask">
              {{form.hidden_tag()}}
              {{form.task.label()}}
              {{form.task()}}
              <div class="inline-grid">
                <div class="column">
                {{form.priority.label()}}
                  <ul id="priority" style="list-style:none;padding: 5px;margin:2px;">
                    <li>
                      <label>
                        <input type="radio" id="priority-0" name="priority" value="0">
                        <span>Низкий</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="radio" id="priority-1" name="priority" value="1">
                        <span>Средний</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="radio" id="priority-2" name="priority" value="2">
                        <span>Высокий</span>
                      </label>
                    </li>
                  </ul>
                <!--{{form.priority()}}-->
                </div>
                <div class="column" style="justify-self: right;text-align:right;">
                  {{form.deadlineDate.label()}}<br>
                  {{form.deadlineDate()}}
                  {{form.deadlineTime()}}
                  <div id="dateWarning">У вас много задач в этот день.<br>Может, стоит выбрать другой?</div>
                </div>
              </div><br><br>
              <div class="button-wrapper">{{form.submit()}}</div>
            </form>
          </div>
          <div class="tabcontent" id="aiAssist-panel">
            <form action="/addAI" method="post" class="addTask">
              {{aiForm.hidden_tag()}}
              {{aiForm.task.label()}}<br>
              <p style="color: #959393;margin:0;padding-bottom: 10px;">(с указанием о дедлайне):</p>
              {{aiForm.task()}}
              {{aiForm.priority.label()}}
                  <ul id="priority" style="list-style:none;padding: 5px;margin:2px;">
                    <li>
                      <label>
                        <input type="radio" id="priority-0" name="priority" value="0">
                        <span>Низкий</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="radio" id="priority-1" name="priority" value="1">
                        <span>Средний</span>
                      </label>
                    </li>
                    <li>
                      <label>
                        <input type="radio" id="priority-2" name="priority" value="2">
                        <span>Высокий</span>
                      </label>
                    </li>
                  </ul>
              <div class="button-wrapper"><div class="spin" id="addTaskLoader" style="width: 20px; height: 20px"></div>{{aiForm.submit()}}</div>
            </form>
          </div>
        </div>
        <button id="close">×</button>
      </div>
    </div>
    <div class="container">
      <aside id="aside">
        <div class="inline"><span></span>
        <button id="closeMobileMenu"><img src="{{url_for('static', filename='images/plus.png')}}" alt="close aside menu" width="30px" height="30px"></button></div>
        <div class="buttons">
          <div class="inline"><a class="anim-title" href="/profile">{{user.name}}</a>
            <img src="{{url_for('static', filename='images/blank-avatar.png')}}" width="30px" height="30px"></div> 
          <br>
          <a href="#" id="addTask"><div class="inline">
            <p>Добавить задание</p><img src="{{url_for('static', filename='images/plus.png')}}" width="30px" height="30px"></div>
          </a>
          <a href="/classes"><div class="inline"><p>Классы и дети</p>
          <img id="children" src="{{url_for('static', filename='images/class.png')}}" alt="" width="30px" height="30px"></div></a> 
          <a href="/"><div class="inline"><p>Мой календарь</p>
          <img src="{{url_for('static', filename='images/arrow.png')}}" alt="" width="31px" height="30px"></div></a> 
          <a href="#" id="logout"><div class="inline"><p>Выйти</p>
          <img src="{{url_for('static', filename='images/exit.png')}}" width="30px" height="30px">
          </div></a>
          <a href="#" id="loader" style="pointer-events: none"><div class="inline"><p>Загружаем задания ...</p>
            <div class="spin" style="width: 20px; height: 20px"></div></div>
          </a>
        </div>
      </aside>
      <div class="wrapper"> 
      <nav><button id="mobileMenu" class="menu"><img src="{{url_for('static', filename='images/options.png')}}" width="30px" height="30px" alt="open side menu"></button>
        <span style="font-size: 1.3rem;margin-top:4px;">{{user.name}}</span><a href="/" class="blank">ТВОЙ РИТМ</a></nav>
      <main>
        <div class="tableHeader">Ваш профиль</div>
        <div class="grid">
          <div class="stats" style="grid-area: stats">
            <p class="chartTitle" style="text-align: center;">
            {% if all > 0 %}
              {% if all == completed %}
              Все готово! Вы отлично справились сегодня
              {% else %}
                {% if percent >= 66 %}
                Почти у цели! Осталось совсем немного
                {% else %}
                  {% if percent >= 49 %}
                  Полпути уже позади!
                  {% else %}
                    {% if percent >= 23 %}
                    Вы двигаетесь в правильном направлении!
                    {% else %}
                    На сегодня есть задачи. Приступайте скорее!
                    {% endif %}
                  {% endif %}
                  {% endif %}
              {% endif %} 
            {% endif %}
            </p>
            <canvas id="completion">Ваш браузер не поддерживает элемент canvas</canvas>
            <p id="chartText" class="chartText"></p>
          </div>
          <div id="tasks" class="tasks" style="grid-area: tasks"> 
          <div class="block"><span>Задачи на сегодня:</span></div>
          </div>
          <div class="graph" style="grid-area: graph">
            <canvas id="graph" height="200px">Ваш браузер не поддерживает элемент canvas</canvas>
          </div>
        </div>
      </main>
      </div>
    </div>
    <script>
    const addTaskLoader = document.getElementById("addTaskLoader");
    const form = document.forms[1];
    
    function startLoader() {
      for (var el of form.elements) {
        if (!el.checkValidity()) {
          return;
        }
      }
      addTaskLoader.style.display = "block";
    }
    </script>
    <script src="{{url_for('static', filename='js/addTask.js')}}"></script>
    <script>
let completed = {{completed}};
let all = {{all}}
    </script>
    <script src="{{url_for('static', filename='js/profile.js')}}"></script>
    {% endblock %}
  </body>
</html>
